

.greeting_and_logging{
    background-color:#DDDDDD;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 30px;
    font-weight: bold;
    .log_button_wrapper{
      justify-self: end;
    }

    
}