.filter_cart_wrapper{
    display: grid;
    height: 80px;
    grid-template-columns: 1fr 1fr;
    padding: 10px 5px 10px 5px; 
    :nth-child(2){
        justify-self: end;
    }
}





.cart_components_wrapper_overall{
    height: 300px;
    width: 300px;
    
    
    .cart_components_wrapper{
        display:flex;
        flex-direction: column;
        //float:right;
      
        .cart_icon{
            font-size: 30px;
            color: Dodgerblue;
        }

        .cart_products{
            height: 300px;
            width:250px;
            background-color: #fefbe9;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            z-index:1 ;
            
            
            .each_cart_item{

                background-color:burlywood
            }
        }
        .cartProductInvisible{
            visibility: hidden;
        }
    }
}
