// html {
//     font-size: 62.5%; // 1rem is 10px
// }

// *,
// *::after,
// *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: inherit;
//     font-family: 'montserrat';
// }

// body {
//     overflow-x: hidden;
//     font-weight: normal;

//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     text-rendering: optimizeLegibility;
//     -webkit-tap-highlight-color: transparent;
// }

// .app {
//     margin-top: 2rem;
//     display: grid;
//     justify-items: center;
// }



@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;
  font-family: Tahoma, sans-serif;
 
}

.App .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
body {
  padding: 0;
  margin: 0;
 

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}



button {
    

    font-size: 25px;
    cursor: pointer;
  }






.greeting_and_logging{
  background-color:#DDDDDD;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 30px;
  font-weight: bold;
  .log_button_wrapper{
    justify-self: end;
  }
  .greeting_wrapper{
    .profile_name{
      font-style: italic;
      color:tomato;
    }
  }

    
}

hr{
  border: none;
    height: 7px;
   
    background-color: rgb(245, 174, 239)
}