
.product_wrapper_overall{
   
    .product_wrapper{
        border-style:groove;
        text-transform: capitalize;
        font-size: 20px;
     

    }
}

.storeProducts,.sellProducts,.checkoutProducts{
    width: auto;
    height: auto;
    //background-color: chartreuse;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    
    gap: 10px;
}

.eachProduct{
    width: 160px;
   
}

.image_wrapper{
    img{
        height: 160px;
        width: 160px;
    }
}