
.cart_components_wrapper{
    display:flex;
    flex-direction: column;
    overflow: scroll;
    .cart_products{
        height: 300px;
        width:300px;
        background-color: grey;
        .each_cart_item{

            background-color:burlywood
        }
    }
}

